:org.apache.felix.configadmin.revision:=L"2"
addTypeAttribute=B"false"
cacheControlHeader="private,\ max-age\=300,\ must-revalidate"
encoding="UTF-8"
generateEtag=B"true"
jacksonSettings=[ \
  "SerializationFeature.WRITE_DATES_AS_TIMESTAMPS\=true", \
  ]
service.factoryPid="io.neba.core.resourcemodels.views.json.JsonViewServlets"
service.pid="io.neba.core.resourcemodels.views.json.JsonViewServlets~nebaSample"
sling.servlet.resourceTypes=[ \
  "sling/servlet/default", \
  ]
sling.servlet.selectors=[ \
  "neba", \
  ]
